.requestsPage {
  overflow: auto;
  padding-bottom: 10px;

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  table {
    border-bottom: 1px solid darkgray;
    border-collapse: collapse;
    margin: 0 auto 0 auto;

    th, td {
      padding: 4px 8px;
      border-bottom: 1px solid darkgray;
    }
    th {
      background-color: lightsteelblue;
    }
    tr:nth-child(even) {
      background-color: #EEEEEE;
    }
    .r-title {
      border-left: 1px solid darkgray;
      width: 250px;
    }
    .r-author {
      width: 190px;
    }
    .r-owner, .r-requester {
      width: 80px;
    }
    .r-action {
      text-align: center;
      width: 80px;
      border-right: 1px solid darkgray;
    }
    button {
      width: 76px;
      margin-right: 4px;
      font-size: 14px;
    }
    button:nth-child(2) {
      margin-top: 2px;
    }
  }

  hr {
    margin: 18px 0 24px 0;
  }
}
